.border-text{
  text-align: center;
}


.google-img{
  width: 300px;
  height: 100px;
  object-fit: contain;
  margin-top: 50px;
  margin-bottom: 30px;
  margin-left: 600px;
  display: block;
  
}
.Search-bar{
  padding-right:15px ;
  padding-left: 12px;
  padding-top:12px ;
  padding-bottom:10px ;
  border-radius:18px ;
  box-shadow: 1px 1px 6px rgba(0,0,0,0.35);
  border-width:0.99px;
  font-size: 20px;
  border: color(grey);
  width: 500px;
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: 490px;
  display: block;
}
.google-button{
  background-color: rgba(0, 0, 0, 0.473);
  color: white;
  border: none;
  margin-top: 50px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 40px;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}
.google-button:hover{
  background-color: gold;
}
.google-button:active{
  opacity: 0.55;
}
.Feeling-button{
  background-color: rgba(0, 0, 0, 0.459);
  color: white;
  border: none;
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 90px;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}
.Feeling-button:hover{
  background-color: gold;
}
.Feeling-button:active{
  opacity: 0.55;
}